.mat-form-field-wrapper {
    width: 300px;
  }
  .container {
    margin: auto;
    text-align: center;
  }
  
  button:not(.eliminar) {
    margin: 2rem 1rem;
  }
  
  p {
    border: 2px dotted rgb(0, 0, 0);
    width: 28%;
    text-align: center;
    margin: auto;
    padding: 1rem;
    border-radius: 15px;
    margin-top: 1rem;
  }
  
  .aceptar {
    margin: 0 1rem;
  }
  
  .lista-utiles {
    font-size: 1.2rem;
    line-height: 2rem;
    width: 40%;
    margin: auto;
    text-align: left;
  }
  
  .color1{
      color: green;
  }

  .color2{
      color: skyblue;
  }
  